[Desktop Entry]
Version=1.0
Type=Application
Name=Lighthouse
Comment=Freeskoden Lighthouse Remote Control Client
Exec=lighthouse
Icon=lighthouse
Terminal=false
Categories=Utility;Network;RemoteAccess;
