[Desktop Entry]
Version=1.0
Type=Application
Name=Freeskoden Lighthouse
Comment=Freeskoden Lighthouse Remote Control Client
Exec=freeskoden-lighthouse-client
Icon=freeskoden-lighthouse
Terminal=false
Categories=Utility;Network;RemoteAccess;
